@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Bitter", serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  border: none;
  width: 100%;
  background-color: var(--card-color);
  color: var(--modal-font-color);
  border: 1px solid transparent;
}

input:focus {
  border: 1px solid var(--main-font-color);
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

:root {
  --body-color: #dde6ed;
  --main-font-color: #27374d;
  --box-shadow: 0px 2px 8px #9cb1bf33;
  --modal-color: #526d82;
  --modal-font-color: #dde6ed;
  --card-color: #9db2bf;
  --primary-font-size: 30px;
  --secondary-font-size: 22px;
  --third-font-size: 18px;
  --link-color: rgb(52, 52, 254);
  --exact-font-color: #27374d;
  --exact-white-color: #dde6ed;
}

.darkTheme {
  --main-font-color: #dde6ed;
  --body-color: #27374d;
  --box-shadow: 0px 2px 8px rgb(221, 230, 237, 0.2);
  --modal-color: #526d82;
  --card-color: #9db2bf;
  --primary-font-size: 30px;
  --secondary-font-size: 22px;
  --third-font-size: 18px;
  --modal-font-color: #dde6ed;
  --link-color: rgb(52, 52, 254);
  --exact-font-color: #27374d;
  --exact-white-color: #dde6ed;
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4,
p,
span,
div {
  color: var(--main-font-color);
}

.shimmer-title-line {
  height: 10px !important;
}

.mb-40 {
  margin-bottom: 10px !important;
}
